{
    default_sni {$SERVER_NAME}
}

{$SERVER_NAME} {    
    import /etc/{$TLS_MODE} 
    import /etc/basic_auth.conf
    import /etc/caddyfile_optional.conf
    root * /var/www/html
    encode zstd gzip

    @elastic {
        method POST
        path /es-search/*/_search
    }
    handle @elastic {
        uri strip_prefix /es-search
        reverse_proxy http://elastic:9200 {
            @notforyou status 401 404 405 406 500 501 502
            handle_response @notforyou {
                respond \{\}
            }
        }
    }

    php_fastcgi wp-fpm:9000
    file_server

    log {
        output file /var/log/caddy.log
    }

    header /media X-Frame-Options "SAMEORIGIN"
    header /static X-Frame-Options "SAMEORIGIN"
    header / X-Content-Type-Options "nosniff"

}
