{
    default_sni {$SERVER_NAME}
}

{$SERVER_NAME} {    
    import /etc/{$TLS_MODE} 
    import /etc/basic_auth.conf
    root * /var/www/html
    encode zstd gzip

    @elastic {
        method POST
        path /es-search/*/_search
    }
    handle @elastic {
        uri strip_prefix /es-search
        reverse_proxy http://elastic:9200 {
            @notforyou status 401 404 405 406 500 501 502
            handle_response @notforyou {
                respond \{\}
            }
        }
    }

    @forbidden {
        not path /wp-includes/ms-files.php
        path /wp-admin/includes/*.php
        path /wp-includes/*.php
        path /wp-config.php
        path /wp-content/uploads/*.php
        path /.user.ini
        path /wp-content/debug.log
    }
    respond @forbidden "Access denied" 403

    php_fastcgi wp-fpm:9000
    file_server

    log {
        output file /var/log/caddy.log
    }

    header / {
      X-Frame-Options "SAMEORIGIN"
      X-Content-Type-Options "nosniff"
    }

}

import /etc/caddyfile_optional.conf
